
:root{
    --yellow:#FEC107;
}

*,
*::before,
*::after{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html{
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;
    overflow-x: hidden;
    font-family: 'Oswald', sans-serif;

}


section{
    padding-bottom: 15rem;
    background: black;
}

section:first-of-type{
    padding-top: 15rem;
}

/* BUTTONS */

.btn{
    font-size:3rem;
    text-transform: uppercase;
    font-size: bold;
    letter-spacing: 2px;
    padding: 1rem 2rem;
    border-radius: 15px;
    background: var(--yellow);
    border:none;
    font-family: 'Oswald', sans-serif;
    margin-right: 10px;
    text-align: center;
}

.light{
    transition: all 300ms ease;
}

.light:hover{
    background:hsl(45, 99%, 30%);
    color: white;
}

.dark{
    background: rgba(255,255,255,0.1);
    color: white;
    transition: all 300ms ease;
}

.dark:hover{
    background-color: rgba(255,255,255,0.3);
}

.button-container{
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin-top: 30px;

}

/* HEADER */

.landing{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
    background-image:url(./img/2.jpg);
    background-size: cover;
    background-position: right;
    background-blend-mode: multiply;
    background-attachment: fixed;

    transition: all 1s ease-in;
}

.sub-bg{
    height: 100vh;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    background-blend-mode: multiply;
    position: absolute;
    top: 0;
    animation: fade 10s ease alternate infinite;

}

@keyframes fade{
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}

.showcase{
    position: relative;
    z-index: 3;
}

nav{
    position: relative;
    z-index: 4;
}

/* NAV */

nav{
    width: 100%;
    padding: 0 5%;
    height: 10vh;
    background-color: rgba(0,0,0);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
}

.links{
    color: whitesmoke;
    font-size: 2rem;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    letter-spacing: 1.5px;
    margin-left: 20px;

}

.links:hover{
    color: var(--yellow);
}

.preorder{
    color:var(--yellow);
}

.logo{
    width: 100px;
}

.showcase{
    height: 90vh;
    width: 90%;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

}

.title-text{
    font-size: 6rem;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    color: white;
    text-transform: uppercase;
    width:60%;
}

.title-text::after{
    content: "";
    display: block;
    width: 80%;
    height: 4px;
    background: var(--yellow);
    margin: 1rem 0;
}

.sub-text{
    width: 50%;
    text-align: start;
    font-size: 2rem;
    color:rgb(199, 189, 189);
    font-family: 'Oswald', sans-serif;
}


/* GALLERY */

#gallery{
    width: 100vw;
   
}

.gallery-container{
    width:90%;
    margin:0 auto;
  

    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    grid-auto-flow: dense;
    grid-gap: 10px;

}

.item{
    width: 100%;
    position: relative;
    opacity: 0.6;
    transition: all 1s ease;
    overflow: hidden;
}

.item:hover{
    opacity: 1;

}

.item:nth-child(5n){
    grid-column: span 2;
    grid-row: span 2;
}

.section-title{
    text-align: center;
    font-size: 5rem;
    color: white;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    margin-bottom: 5rem;
}


/* STORY SECTION */

.story-container{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.textblock .story-title,
.textblock p
{   
    font-size: 1.8rem;
    color: white;
}

.ellie{
    flex: 3 1 calc(100%/2);
    height: auto;
}

.textblock{
    flex:1 1 40%;
    align-self: center;
}
.textblock p{
    width: 80%;
    line-height: 1.8;
    margin-bottom: 10px;
}

.story-title{
    font-size: 3rem !important;
    text-transform: uppercase;
    margin-bottom: 20px;
    
}

footer{
    background-color: black;
    display: flex;
    width: 100%;
    padding: 0 5%;
    border-top: solid white 1px;
    height: 40vh;
    align-items: center;
    justify-content: space-between;
}

footer img{
    width: 200px;
}

.footer-note{
    color:white;
    font-size: 2rem;
    background: black;
    padding: 2rem;
    text-align:center;
}


/* MEDIA QUERIES */

@media (max-width:600px){
    html{
        font-size: 45%;
    }

    nav{
        flex-direction: column;
        padding: 3rem 0;
        height: auto;
        position: relative;
    }

    .logo{
        margin-bottom: 2rem;
    }

    .showcase{
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        align-content: center;
        height: fit-content;
    }

    .title-text,.sub-text{
        width:100%;
        text-align: center;
    }

    .title-text::after{
        width: 100%;
    }

    section:first-of-type{
        padding-top: 10rem;
    }

    section{
        padding-bottom: 10rem;
    }

    .story-container{
        justify-content: center;
        flex-wrap: wrap;
    }

    .textblock{
        flex-basis: 100%;
        text-align: center;
    }

    .textblock p{
        width: 100%;
    }

    .ellie{
        margin-top: 5rem;
        flex-basis: 100%;
    }

    .item:nth-child(5n){
        grid-column: span 1;
        grid-row: span 1;
    }

    footer{
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
    }

    footer >*{
        width: 100%;
    }

}
